@import url('https://fonts.googleapis.com/css2? family=Open+Sans:wght@300;400;700&family=Yanone+Kaffeesatz&display=swap');

*{
  box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 1px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 2.5px;
}

.section__titulo{
    text-align: center;
    font-size: 40px;
    color: #fba919;
 }
.contenedor{
    margin: auto;
    width: 100%;
}
/*------------------Estilos del header------------------*/

.header{
    height: 60px;
}
.header .contenedor{
    display: flex;
    justify-content: space-between;
}
.logo, .icon-menu{
    margin: 5px;
    color: white;
}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    padding-top: 2px;
    font-size: 30px;
    background: #fba919;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*---------------------Estilos del menu---------------------*/
.nav{
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__link{
    display: block;
    padding: 15px;
    background-color: #fba919;
    text-decoration: none;
    color: #fff;
}
.menu__link:hover, .select{
    background: white;
    color: #fba919;
}
.mostrar{
    left: 0;
}

/*------------------Estilos del Banner------------------*/
.banner{
    margin-top: -60px;
    position: relative;
    z-index: -1000;
}

.banner .contenedor{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.banner__txt{
    display: none;
}
.banner__img{
    width: 100%;
    height: 100%;
}

/*-------------------Estilo de info-------------------*/

.info__columna{
    background: #fba919;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
}


/*-------------------Estilo de Cursos-------------------*/
.cursos__columna{
    position: relative;
    margin-bottom: 30px;
    
}
.cursos__descripcion{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,0.4);
    padding: 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.cursos__titulo{
    font-size: 25px;
    margin: 5px;
    text-align: center;
}
.cursos__columna img:nth-child(1){
    border-radius: 30px;
}
/*----------------Estilos de Footer----------------*/
.footer{
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"]{
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

/*-----------------Estilos Responsive-----------------*/
@media(min-width:480px){
    .logo{
        font-size: 40px;
        margin: 10px 20px;
    }
    .banner__titulo{
        font-size: 32px;
        margin: 20px auto 20px 40px;
    }
    .banner__txt{
        display: block;
        font-size: 18px;
        margin: 15px;
    }
    .info, .cursos{
        display: flex;
        justify-content: space-between;
        margin-top: -50px;
    }
    .info__columna{
        width: 32%;
    }
    
    .info__titulo{
        font-size: 30px;
        margin: 5px 0;
    }
    .section__titulo{
        width: 100%;
        margin-top: 5px;
    }
    .cursos{
        flex-wrap: wrap;
        margin-top: 0;
    }
    .cursos__columna{
        width: 49.5%;
    }
    .footer .social [class^="icon-"]{
        margin: 0 10px;
    }
}

.info__titulo{
  margin-top: 50px;  
  font-size: 30px;  
  text-align: center;
}
.cursos__descripcion{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@media(min-width:768px){
    .cursos__titulo{
        font-size: 25px;
        padding-top: 50px;
    }
    .contenedor{
        width: 80%;
    }
    .nav{
        position: static;
        width: auto;
        margin-right: 2%;
    }
    .nav a{
        font-size: 16px;
    }
    .logo{
        font-size: 60px;
        margin: 10px 20px;
    }
    .menu{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    .menu__link{
        background: none;
        font-size: 20px;
    }
    .banner__titulo{
        font-size: 50px;
    }
    .info__columna{
        padding: 30px;
    }
    .cursos__txt{
        font-size: 16px;
    }
    
}
@media(min-width:1024px){
    .banner__titulo{
        font-size: 60px;
    }
    .cursos__titulo{
        font-size: 50px;
    }
    
    
}
@media(min-width:1280px){
    .banner .contenedor{
        top: 25%;
    }
    .info{
        margin-top: -200px;
    }
}



